.card-img {
    height: 300px !important;

}

.card-img-box {
    height: 300px;
    width: 300px;
}

.link:hover {
    color:lightblue;
     
}

.link {
    color: white;
    text-decoration: none !important;
}
